.productCard {
  margin-bottom: 3rem;
  max-height: 19.25rem;
  width: 20%;
  background-color: rgb(203, 204, 207);
  border: 2px solid #e5e6eb;
  overflow: hidden;
  color: rgb(49, 49, 49);
  text-align: start;
}
.productCard:hover {
  border-color: rgb(199, 197, 197);
}

.imageContainer {
  background-color: white;
  padding: 1rem;
}

.imageContainer img {
  height: 10rem;
  width: 100%;
  margin: auto;
  transition: transform 500ms ease;
}
.imageContainer img:hover {
  transform: scale(1.1);
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
  padding: 0.5rem 1rem;
}

.title {
  height: 6rem;
  overflow: hidden;
}
