.container {
  margin: 0 auto;
  padding: auto;
  max-width: 1000px;
}

.container .products {
  height: 40rem;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 3rem;
}

.container .products::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.container .products::-webkit-scrollbar-track {
  border-radius: 10px;
}

.container .products::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(70, 68, 56);
}
