.background {
  background: url("../../../public/images/bacground-presentation.jpg");
}

.container {
  margin: auto;
  width: 60%;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 3rem;
}
